src/main/resources/software.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:tns="http://mdc.isg.pitt.edu/v1_0/" xmlns:i="http://moten.david.org/xsd-forms" xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://mdc.isg.pitt.edu/v1_0/" elementFormDefault="qualified" attributeFormDefault="qualified">

    <element name="DiseaseTransmissionModel" type="tns:DiseaseTransmissionModel"/>
    <element name="PopulationDynamicsModel" type="tns:PopulationDynamicsModel"/>
    <element name="DataFormatConverters" type="tns:DataFormatConverters">
        <annotation i:label="Data Format Converter"/>
    </element>
    <element name="DataVisualizers" type="tns:DataVisualizers">
        <annotation i:label="Data Visualizer"/>
    </element>
    <element name="DiseaseForecasters" type="tns:DiseaseForecasters">
        <annotation i:label="Disease Forecaster"/>
    </element>
    <element name="DiseaseTransmissionTreeEstimators" type="tns:DiseaseTransmissionTreeEstimators">
        <annotation i:label="Disease Transmission Tree Estimator"/>
    </element>
    <element name="MetagenomicAnalysis" type="tns:MetagenomicAnalysis">
        <annotation i:label="Metagenomic Analysis"/>
    </element>
    <element name="ModelingPlatforms" type="tns:ModelingPlatforms">
        <annotation i:label="Modeling Platform"/>
    </element>
    <element name="PathogenEvolutionModels" type="tns:PathogenEvolutionModels">
        <annotation i:label="Pathogen Evolution Model"/>
    </element>
    <element name="PhylogeneticTreeConstructors" type="tns:PhylogeneticTreeConstructors">
        <annotation i:label="Phylogenetic Tree Constructor"/>
    </element>
    <element name="SyntheticEcosystemConstructors" type="tns:SyntheticEcosystemConstructors">
        <annotation i:label="Synthetic Ecosystem Constructor"/>
    </element>
    <element name="DataService" type="tns:DataService"/>

    <simpleType name="nonZeroLengthString">
        <restriction base="string">
            <minLength value="1"/>
        </restriction>
    </simpleType>

    <simpleType name="YesNoUnknownEnum" final="restriction">
        <restriction base="string">
            <enumeration value="yes"/>
            <enumeration value="no"/>
            <enumeration value="unknown"/>
        </restriction>
    </simpleType>

    <complexType name="DataInputOrOutputSpecification">
        <sequence>
            <element name="description" type="tns:nonZeroLengthString" minOccurs="0" maxOccurs="1"/>
            <element name="dataFormats" type="tns:nonZeroLengthString" minOccurs="0" maxOccurs="unbounded"/>
            <element name="isOptional" type="tns:YesNoUnknownEnum" minOccurs="0" maxOccurs="1"/>
            <element name="isListOfDataFormatsComplete" type="tns:YesNoUnknownEnum" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="DataInputs">
        <complexContent>
            <extension base="tns:DataInputOrOutputSpecification">
                <sequence>
                    <element name="inputNumber" type="positiveInteger" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="DataOutputs">
        <complexContent>
            <extension base="tns:DataInputOrOutputSpecification">
                <sequence>
                    <element name="outputNumber" type="positiveInteger" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Pathogen">
        <sequence>
            <element name="identifier" type="tns:Identifier" maxOccurs="1" minOccurs="0"></element>
            <element name="strainName" type="tns:nonZeroLengthString" minOccurs="0" maxOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="Software">
        <sequence>
            <element name="product" type="tns:nonZeroLengthString" maxOccurs="1" minOccurs="0">
                <annotation i:label="Product Name"/>
            </element>
            <element name="title" type="tns:nonZeroLengthString" maxOccurs="1" minOccurs="1"/>
            <element name="humanReadableSynopsis" type="tns:nonZeroLengthString" maxOccurs="1"
                     minOccurs="1"/>
            <element name="identifier" type="tns:Identifier" maxOccurs="1" minOccurs="0"/>
            <element name="inputs" type="tns:DataInputs" minOccurs="0" maxOccurs="unbounded"/>
            <element name="isListOfInputsComplete" type="tns:YesNoUnknownEnum" minOccurs="0" maxOccurs="1"/>
            <element name="dataInputFormats" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                     minOccurs="0">
                <annotation i:label="Data Input Format"/>
            </element>
            <element name="outputs" type="tns:DataOutputs" minOccurs="0" maxOccurs="unbounded"/>
            <element name="dataOutputFormats" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                     minOccurs="0">
                <annotation i:label="Data Output Format"/>
            </element>
            <element name="isListOfOutputsComplete" type="tns:YesNoUnknownEnum" minOccurs="0" maxOccurs="1"/>
            <element name="sourceCodeRelease" type="tns:nonZeroLengthString" maxOccurs="1"
                     minOccurs="0"/>
            <element name="webApplication" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                     minOccurs="0"/>
            <element name="license" type="tns:nonZeroLengthString" maxOccurs="1"
                     minOccurs="0"/>
            <element name="codeRepository" type="tns:nonZeroLengthString" maxOccurs="1" minOccurs="0"/>
            <element name="authors" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                     minOccurs="0">
                <annotation i:label="Author"/>
            </element>
            <element name="website" type="tns:nonZeroLengthString" maxOccurs="1" minOccurs="0"/>
            <element name="documentation" type="tns:nonZeroLengthString" maxOccurs="1"
                     minOccurs="0"/>
            <element name="publicationsThatUsedRelease" type="tns:nonZeroLengthString"
                     maxOccurs="unbounded" minOccurs="0">
                <annotation i:label="Publication That Used Release"/>
            </element>
            <element name="binaryUrl" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                     minOccurs="0">
                <annotation i:label="Binary Url"/>
            </element>
            <element name="softwareVersion" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                     minOccurs="0"/>
            <element name="publicationsAboutRelease" type="tns:nonZeroLengthString"
                     maxOccurs="unbounded" minOccurs="0">
                <annotation i:label="Publication About Release"/>
            </element>
            <element name="grants" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                     minOccurs="0">
                <annotation i:label="Grant"/>
            </element>
            <element name="availableOnOlympus" type="boolean" maxOccurs="1"
                     minOccurs="1"/>
            <element name="availableOnUIDS" type="boolean" maxOccurs="1"
                     minOccurs="1"/>
            <element name="signInRequired" type="boolean" maxOccurs="1"
                     minOccurs="1"/>
            <element name="locationCoverage" type="tns:NestedIdentifier" maxOccurs="unbounded"
                     minOccurs="0"/>

        </sequence>
    </complexType>


    <complexType name="Identifier">
        <sequence>
            <element name="identifier" type="tns:nonZeroLengthString" minOccurs="0" maxOccurs="1"></element>
            <element name="identifierSource" type="tns:nonZeroLengthString" minOccurs="0" maxOccurs="1"></element>
            <element name="identifierDescription" type="tns:nonZeroLengthString" minOccurs="0" maxOccurs="1"></element>
        </sequence>
    </complexType>


    <simpleType name="DataServiceAccessPointType">

        <restriction base="string">
            <enumeration value="REST"></enumeration>
            <enumeration value="SOAP"></enumeration>
            <enumeration value="custom"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="DataServiceDescription">
        <sequence>
            <element name="accessPointType" type="tns:DataServiceAccessPointType" minOccurs="1" maxOccurs="1"></element>
            <element name="accessPointDescription" type="token" minOccurs="1" maxOccurs="1"></element>
            <element name="accessPointUrl" type="anyURI" minOccurs="1" maxOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="DataService">
        <complexContent>
            <extension base="tns:Software">
                <sequence>
                    <element name="DataServiceDescription" type="tns:DataServiceDescription" minOccurs="1" maxOccurs="unbounded"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="DiseaseTransmissionModel">
        <complexContent>
            <extension base="tns:Software">
                <sequence>
                    <element name="controlMeasures" type="tns:NestedIdentifier" maxOccurs="unbounded"
                             minOccurs="0">
                        <annotation i:label="Control Measure"/>
                    </element>
                    <element name="hostSpeciesIncluded" type="tns:NestedIdentifier"
                             maxOccurs="unbounded" minOccurs="0">
                        <annotation i:label="Host Species Included"/>
                    </element>
                    <!--<element name="locationCoverage" type="tns:NestedIdentifier" maxOccurs="unbounded"-->

                    <!--minOccurs="0"/>-->

                    <element name="pathogenCoverage" type="tns:NestedIdentifier" maxOccurs="unbounded"
                             minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PopulationDynamicsModel">
        <complexContent>
            <extension base="tns:Software">
                <sequence>
                    <element name="populationSpeciesIncluded" type="tns:NestedIdentifier"
                             maxOccurs="unbounded" minOccurs="1">
                        <annotation i:label="Population Species Included"/>
                    </element>
                    <!--<element name="locationCoverage" type="tns:nonZeroLengthString" maxOccurs="unbounded"-->

                    <!--minOccurs="0"/>-->

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="NestedIdentifier">
        <sequence>
            <element name="identifier" type="tns:Identifier" minOccurs="0" maxOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="DiseaseForecasters">
        <complexContent>
            <extension base="tns:Software">
                <sequence>
                    <element name="diseases" type="tns:NestedIdentifier" maxOccurs="unbounded"
                             minOccurs="0">
                        <annotation i:label="Disease"/>
                    </element>
                    <element name="nowcasts" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                             minOccurs="0">
                        <annotation i:label="Nowcast"/>
                    </element>
                    <element name="outcomes" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                             minOccurs="0">
                        <annotation i:label="Outcome"/>
                    </element>
                    <element name="forecastFrequency" type="tns:nonZeroLengthString" maxOccurs="1"
                             minOccurs="0"/>
                    <element name="type" type="tns:nonZeroLengthString" maxOccurs="1" minOccurs="0"/>
                    <element name="forecasts" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                             minOccurs="1">
                        <annotation i:label="Forecast"/>
                    </element>
                    <!--<element name="locationCoverage" type="tns:NestedIdentifier" maxOccurs="unbounded"-->

                    <!--minOccurs="0"/>-->

                </sequence>
            </extension>
        </complexContent>
    </complexType>


    <complexType name="DataVisualizers">
        <complexContent>
            <extension base="tns:Software">
                <sequence>
                    <element name="visualizationType" type="tns:nonZeroLengthString" maxOccurs="unbounded"
                             minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- The following six software subtypes do not have any distinguishing elements from
        their parent 'Software: -->

    <complexType name="MetagenomicAnalysis">
        <complexContent>
            <extension base="tns:Software">
                <sequence>

                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SyntheticEcosystemConstructors">
        <complexContent>
            <extension base="tns:Software">
                <sequence>

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="DiseaseTransmissionTreeEstimators">
        <complexContent>
            <extension base="tns:Software">
                <sequence>
                    <element name="hostSpeciesIncluded" type="tns:NestedIdentifier" maxOccurs="unbounded"
                             minOccurs="0">
                        <annotation i:label="Host Species Included"/>
                    </element>
                    <element name="pathogenCoverage" type="tns:NestedIdentifier" maxOccurs="unbounded"
                             minOccurs="0">
                        <annotation i:label="Pathogen Coverage"/>
                    </element>

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PhylogeneticTreeConstructors">
        <complexContent>
            <extension base="tns:Software">
                <sequence>

                </sequence>
            </extension>
        </complexContent>
    </complexType>


    <complexType name="DataFormatConverters">
        <complexContent>
            <extension base="tns:Software">
                <sequence>

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PathogenEvolutionModels">
        <complexContent>
            <extension base="tns:Software">
                <sequence>
               <!--     <element name="pathogens" type="tns:NestedIdentifier" maxOccurs="unbounded"
                             minOccurs="0">
                    </element>-->
                    <element name="pathogens" type="tns:Pathogen" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ModelingPlatforms">
        <complexContent>
            <extension base="tns:Software">
                <sequence>

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Validators">
        <complexContent>
            <extension base="tns:Software">
                <sequence>

                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
